.container {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

.weather {
	width: 680px;
	display: grid;
	grid-template-columns: 1fr max-content;
	padding-top: 90px;
}

/* Information */

.information {
	display: grid;
	grid-row-gap: 15px;
	grid-template-rows: max-content max-content max-content;
}

.cityName {
	font-size: 36px;
}

.currentDate,
.description span {
	font-size: 18px;
	color: #363636;
}

.currentDate {
	color: #9d9d9d;
}

.description {
	display: flex;
	height: 67px;
	align-items: center;
}

.description > img {
	height: 67px;
}

/* .icon {
	
} */

/* Temperature */

.temperature {
	display: flex;
}

.temperature > .value {
	font-size: 160px;
	color: #00b4db;
}

.celsiusIndicator {
	width: 20px;
	height: 20px;
	border: 5px solid #00b4db;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	margin-top: 20px;
}

.temperature > .divider {
	font-size: 40px;
	margin: 100px 10px 0 5px;	
}

.feelsLike {
	margin-top: 100px;
	font-size: 40px;
}

/* Sunrise and sunset */

.sunriseAndSunset {
	display: flex;
}

.sunriseAndSunset > * + * {
	margin-left: 20px;
}

.sunrise,
.sunset {
	display: flex;
	height: 24px;
	align-items: center;
}

.sunrise > * + *,
.sunset > * + * {
	margin-left: 5px;
}

.sunrise > .icon,
.sunset > .icon {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: contain;
}

.sunrise > .icon {
	background-image: url(./contents/sunrise.svg);
}

.sunset > .icon {
	background-image: url(./contents/sunset.svg);
}
