.container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #00b4db33;
}

.wrapper {
	width: 680px;
	height: 100%;
	display: flex;
	padding: 0 10px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 67px;
    height: 32px;
	background-image: url(./contents/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.search {
	width: 285px;
	height: 30px;
	background-color: #f9f9f954;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border: 1px solid #cbcaca40;
	display: grid;
	grid-template-columns: 1fr max-content;
	padding: 0 0 0 10px;
	box-sizing: border-box;
	align-items: center;
}

.search > input {
	height: 20px;
	outline: none;
	border: none;
	background-color: transparent;
}

.search > input::placeholder {
	color: #7e7e7e;
}

.search > .button {
	width: 28px;
	height: 28px;
	background-image: url(./contents/search.svg);
	border: none;
	background-color: transparent;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
}

